<div id="main">
  <download-options-form (formUpdate)="formUpdate($event)"></download-options-form>
  <br>
  <p-button type="button" (click)="start()" label="Start Download" styleClass="start-download-button"
            id="start-download-button"/>
  <br><br>
  <app-download-queue></app-download-queue>
  <p-dialog header="Results ({{dryRunVideos.length}})" [(visible)]="showDryRunDialog">
    <span *ngFor="let video of dryRunVideos">
      {{video.channelName}}: {{video.title}}
      <br>
    </span>
  </p-dialog>
</div>