#config-output {
  text-align: center;
}

#config-channel-list-header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

#config-channel-list-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.config-table-channel-name-row,
.config-table-channel-id-row,
.config-table-channel-dir-row {
  font-size: 14px;
}