@import "primeicons/primeicons.css";

/* Global CSS */
:root {
  --light-grey-blue: #c9d1d9;
  --grey-blue: #a2adb8;
  --light-blue: #58a6ff;
  --blue: #1f6feb;
  --less-dark-blue-almost-black: #161b22;
  --very-dark-blue-almost-black: #0d1117;
  --green: #238636;

  --background-color-main: var(--very-dark-blue-almost-black);
  --background-color-secondary: var(--less-dark-blue-almost-black);
  --text-color: var(--light-grey-blue);
  --secondary-text-color: var(--grey-blue);
  --queue-border-color: var(--secondary-text-color);
}

body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px auto;
  line-height: 1.6;
  font-size: 16px;
  color: var(--text-color);
  background: var(--background-color-main);
}

/* START HEADER.COMPONENT */
.header-menubar {
  background-color: var(--background-color-secondary);
}

.header-menubar .ui-menubar-root-list > li {
  margin-left: auto;
}

.p-menubar-button {
  color: var(--text-color);
}

/*Move the mobile collapsed menu hamburger icon to the right */
a.p-menubar-button {
  order: 3;
}

/* END HEADER.COMPONENT */

/* START MAIN.COMPONENT */
.start-download-button {
  color: var(--background-color-main);
  background: var(--secondary-text-color);
}

/* END MAIN.COMPONENT */

/* START DOWNLOAD-QUEUE.COMPONENT */

p-accordion .p-accordion-header {
  padding-left: 10px;
  padding-right: 10px;
}

/* Custom styles for Accordion Content */
p-accordion .p-accordion-content {
  padding: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: 0;
  border-bottom: 1px;
}

a.p-accordion-header-link, div.p-accordion-content, div.p-dataview-content {
  color: var(--text-color);
  background: var(--background-color-main);
}

.download-queue-button-clear {
  color: var(--background-color-main);
  background: var(--secondary-text-color);
  width: auto;
  padding: 8px 12px;
  margin-top: -10px;
  margin-bottom: 12px;
  font-size: 13px;
}
/* END DOWNLOAD-QUEUE.COMPONENT */

/* START CONFIG.COMPONENT */

/* END CONFIG.COMPONENT */